.venv/

__pycache__/
*.pyc

.env

.DS_Store
Thumbs.db

.vscode/

# Logs
logs/*
!logs/.gitkeep

# Data
data/*
!data/.gitkeep
!data/raw/
data/raw/*
!data/raw/.gitkeep

# Cache
cache/*
!cache/.gitkeep

.cache